body {
  background-color: #f5f5f5;
}
body .cashOutHeader {
  margin: 20px 0 20px 10px;
  display: block;
  font-size: 16px;
  color: #ccc;
}
body .cashOutForm {
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  font-size: 18px;
  text-align: center;
  margin-bottom: 40px;
}
body .cashOutForm input {
  border: none;
  width: 50px;
}
body .subButton {
  width: 160px;
  height: 52px;
  text-align: 52px;
  font-size: 32px;
  padding: 0;
  display: block;
  margin: 0 auto;
}
