body {
  background-color: #f5f5f5;
}
body .common-title {
  padding: 10px 0 10px 10px;
  display: block;
  font-size: 20px;
  color: darkslateblue;
}
body .firstTitle {
  padding-top: 58px;
}
body .formInput {
  padding: 10px 0;
  padding-left: 6px;
}
body .formItem {
  margin: 0 ;
  border: none;
}
body .selectBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 10px;
  font-size: 28px;
  background-color: #fff;
  color: #ccc;
}
body .selectBtn .selectUl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
}
body .selectBtn .selectUl .selectLi {
  font-size: 16px;
  color: black;
  margin: 0 10px;
}
body .upload {
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-sizing: border-box;
  margin-bottom: 20px;
}
body .upload .ant-upload-select-picture-card {
  width: 100%;
  height: 60px;
  margin: 0;
  border: none;
}
body .upload .uploadImg {
  width: 100%;
  height: 100%;
}
body .subButton {
  width: 160px;
  height: 52px;
  text-align: 52px;
  font-size: 32px;
  padding: 0;
  display: block;
  margin: 0 auto;
}
